

body{
  background-color: rgba(0, 0, 0, 0.597);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "verdana", "helvetica";
  background-image: var(--background-image);
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;
 
  color: var(--textColor);
  text-shadow: 2px 1px 3px #00000075;

}


.settingsBtn {
  position: fixed;
  bottom: 20px; 
  right: 20px; 
  background: none;
  border: none;
  padding: 0;
  outline: none;
  /* drop-shadow(5px 5px 15px red); */
  
}

.settingsBtn img {
  width: 35px; 
  height: 35px; 
  display: block;
}

.settingsBtn:hover img {
  opacity: 0.8;
}

.mainContent{
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  font-size: 60px;
}

.buttons{
  /* background-color: rgba(255, 44, 202, 0.204); */
  background: none;
  border: none;
  outline: none;
  font-size: 30px;
  padding: 17px;
  


}

.buttonsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  border: 4px solid white;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.352);
  box-shadow: 1px 1px 3px #00000075;

}

.buttons.active {
  background-color: #ffffff; /* Highlights active button */
  color: rgb(0, 0, 0);
  /* font-weight: bold; */
  border-radius: 50px;
  
}

.startBtn{
  background-color: #ffffff; /* Highlights active button */
  color: rgb(0, 0, 0);
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 30px;
  padding: 17px;
  padding-left: 25px;
  padding-right: 25px;
  box-shadow: 1px 1px 3px #00000057;

}

.resetBtn{

  outline: none;
  background: none;
  border: none;

 
}

.resetBtn img{
  width: 48px; 
  height: 50px;
}

.resetBtn:hover img {
  opacity: 0.8;
}

.lowerBtns{
  display: flex;
  flex: row;
  gap: 15px;
}

form{
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5px;
  flex-direction: column;
}

input{
  all: unset;
  background-color: rgb(255, 255, 255);
  font-size: 15px;
  color: black;
  width: 100px;
}

.settingsContainer{
  
  background-color: #000000ee;

  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  flex-direction: column;
  border-radius:40px ;
  
}

.settingsContainer button{
  background-color: #ffffff; /* Highlights active button */
  color: rgb(0, 0, 0);
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 9px

}

h6{
  font-family: "verdana", "helvetica";
  font-weight: 500;
  font-size: 20px;
  margin: 10px;
}

input{
  all: unset;
  background-color: rgb(255, 255, 255);
  font-size: 15px;
  color: black;
  width: 140px;
  height: 20px;
}



.photoInput{
  margin: 10px;
  width: 100px;
  
}

.colorInput{
  width: 50px;
  margin: 5px;
}

.saveBtn{
  margin: 10px;
  margin-bottom: 20px;
}


@media (max-width: 768px) {

  body {
    height: auto;
    padding: 20px;
    font-size: 16px;
    height: 100vh;
  }

  .mainContent {
    font-size: 36px;
  }

  .buttons {
    font-size: 16px;
    padding: 10px;
    color: rgb(0, 0, 0);
  }

  .buttonsContainer {
    flex-direction: row;
    border-radius: 35px;
  }

  .startBtn {
    font-size: 20px;
    padding: 12px 20px;
  }

  .resetBtn img {
    width: 35px;
    height: 35px;
  }

  .lowerBtns {
    gap: 10px;
    align-items: center;
  }

  .settingsContainer {
    /* width: 50%;
    height: auto; */
    margin: 5px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: #000000e4;
    border-radius: 30px;
    display: flex;
  }

  .settingsBtn img {
    width: 28px;
    height: 28px;
  }

  h1 {
    font-size: 48px;
  }

  h6 {

      font-weight: 500;
      font-size: 15px;
      margin: 5px;
  }

  .buttons.active {
    background-color: #ffffff; /* Highlights active button */
    color: rgb(0, 0, 0);
    border-radius: 50px;
    
  }

  input{
    all: unset;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    color: black;
    width: 140px;
    height: 20px;
    text-shadow: none;
  }



  .photoInput{
    margin: 10px;
    width: 100px;
    
  }

  .colorInput{
    width: 50px;
    margin: 5px;
  }

  .saveBtn{
    margin: 10px;
    margin-bottom: 20px;
  }

}
